@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@import "tailwindcss";

@font-face {
  font-family: 'Dancing Script';
  src: url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
}

@font-face {
  font-family: 'Fredoka';
  src: url('/fonts/Fredoka-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fredoka';
  src: url('/fonts/Fredoka-SemiBold.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@import url('');



@theme{
  --font-cursive: 'Dancing Script', cursive;
  --font-fredoka: 'Fredoka', sans-serif;
}


